h1{
     color:aqua;
    }

body{
    background-color:#f4f4f4
    color:#555555;

    font-family: arial, helvetica,
        sans-serif;
    font-size:16px;
    font-weight:normal;

    line-height:1.6em;
}
.bodyp{
    color:red
}
